<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    @Styles.Render("~/style/base")
    @Scripts.Render("~/js/base")
    @Scripts.Render("~/js/ui")
    @RenderSection("head", false)

</head>

<body>


    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
