@model CTEP.Models.Evalution

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evalution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_CREATE_UID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_CREATE_UID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_EVT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_EVT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_Course_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Course_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_CREATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_CREATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_STA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_STA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_TeachObj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_TeachObj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_TeachMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_TeachMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_TeachAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_TeachAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_TeachAttitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_TeachAttitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_StudentRelation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_StudentRelation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
