


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>我的信息</legend>
</fieldset>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">


            <div class="layui-card">
                <div class="layui-card-header">个人信息与设置</div>
                <div class="layui-card-body">




                    <form class="layui-form" lay-filter="userInfoForm" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label ">名字</label>
                            <div class="layui-input-block">
                                <input type="text" name="S_Name" required lay-verify="required" placeholder="请输入您的昵称" autocomplete="on" class="layui-input layui-form-pane">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label ">地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="S_Address" required lay-verify="required" placeholder="请输入您的地址" autocomplete="off" class="layui-input layui-form-pane">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="Gender" value="0" title="男" checked>
                                <input type="radio" name="Gender" value="1" title="女">
                            </div>
                        </div>


                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">描述</label>
                            <div class="layui-input-block">
                                <textarea name="S_Desc" placeholder="请介绍下自己吧" class="layui-textarea"></textarea>
                            </div>
                        </div>



                        <div class="layui-form-item">
                            <label class="layui-form-label">主页</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="S_Set0" title="显示每日一句">
                            </div>
                            <div class="layui-input-block">
                                <input type="checkbox" name="S_Set1" title="显示首页提示" checked>
                            </div>
                            <div class="layui-input-block">
                                <input type="checkbox" name="S_Set2" title="评论推送">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">信息</label>
                            <div class="layui-input-block">

                                <input type="checkbox" name="C_STA" lay-skin="switch" lay-text="公开|私密">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="userInfo">保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>


                    </form>








                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">绑定</div>
                <div class="layui-card-body">



                    <form class="layui-form" lay-filter="userBundForm" action="">





                        <div class="layui-form-item">
                            <label class="layui-form-label">学校</label>
                            <div class="layui-input-block">
                                <select id="bundSchool" name="BundSchool" lay-verify="" lay-filter="BundSchool" lay-search>
                                    <option value="">请选择一个学校</option>
                                </select>

                            </div>
                        </div>



                        <div class="layui-form-item">
                            <label class="layui-form-label">院系</label>
                            <div class="layui-input-block">
                                <select id="bundAcademy" name="BundAcademy" lay-verify="" lay-filter="BundAcademy" lay-search>
                                    <option value="" selected>请选择一个院系</option>

                                </select>

                            </div>
                        </div>



                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                年级
                            </label>
                            <div class="layui-input-block">
                                <select id="bundGrad" name="BundGrad" lay-filter="BundGrad" lay-verify="" lay-search>
                                    <option value="" selected>请选择一个年级</option>

                                </select>

                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                班级
                            </label>
                            <div class="layui-input-block">
                                <select id="bundClass" name="BundClass" lay-filter="BundClass" lay-verify="" lay-search>
                                    <option value="" selected>请选择一个班级</option>

                                </select>

                            </div>
                        </div>











                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="userSet">保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>






                    </form>








                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">绑定信息</div>
                <div class="layui-card-body">

                    <table class="layui-hide" id="bdT" lay-filter="bdT"></table>


                    <hr class="layui-bg-cyan">
                    <small>提示: 类型 1：学校 | 类型 2：院系  |类型 3：年级 | 类型 4：班级</small>
                </div>
            </div>
        </div>
    </div>


</div>




<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs  " lay-event="detail">添加</a>
    <a class="btn btn-outline-primary layui-btn-xs rounded-0" lay-event="edit">编辑</a>
    <a class="btn btn-outline-danger layui-btn-xs rounded-0" lay-event="del">删除</a>
</script>


<script>


    $(document).ready(function () {


        String.prototype.format = function () {
            if (arguments.length == 0) return this;
            var param = arguments[0];
            var s = this;
            if (typeof (param) == 'object') {
                for (var key in param)
                    s = s.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
                return s;
            } else {
                for (var i = 0; i < arguments.length; i++)
                    s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
                return s;
            }
        }

        function getdate() {
             var date = new Date();
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            var d = date.getDate();
            var h = date.getHours();
            var minutes = date.getMinutes();
            var s = date.getSeconds();
            return y+"/"+m+"/"+d+" "+h+":"+minutes+":"+s;
        }


       //  2019/4/24 1:02:09
        //2019-04-10 17:27:20.247
        var userInfo = {
            I_UID: -1,
            S_Desc: '我还很懒，啥也没写',
            S_Name: '',
            S_Address: "未知",
            S_EV_BD: '',
            S_Set: '["on", "on", "on"]',
            TIME_CRATE:'',
            TIME_Used:'',
            TIME_LastUsed:'' ,
            C_STA: 1,
            Gender: 0,
            Icon: '',
        };



        GetUser(function (user) {
            if (user !== null) {



                try {
                    GetBund(function (result) {

                        layui.use('table', function () {
                            var table = layui.table;
                            //ID, I_UID, I_Type, I_BD_ID
                            //展示已知数据
                            table.render({
                                elem: '#bdT'
                                , cols: [[ //标题栏
                                    { field: 'ID', title: '绑定ID', width: 80, sort: true }
                                    , { field: 'I_UID', title: '绑定用户码', width: 120 }
                                    , { field: 'I_Type', title: '类型', minWidth: 120 }
                                    , { field: 'I_BD_ID', title: '绑定码', minWidth: 200 }
                                    , { fixed: 'right', width: 180, align: 'center', toolbar: '#bar' }
                                ]]
                                , data: result,
                                //,skin: 'line' //表格风格ID,I_UID,I_Type,I_BD_ID
                                even: true,
                                page: true //是否显示分页
                                //,limits: [5, 7, 10]
                                //,limit: 5 //每页默认显示的数量
                            });

                        });
                    });

                } catch (e) {

                    $.ajax({
                        url: "../UserBundTables/Bund/",
                        type: "post",
                        data: user,
                        success: function (result) {
                            _SaveData("emb_bund", result, function () { });
                            console.log("绑定数据", result);
                            layui.use('table', function () {
                                var table = layui.table;
                                //ID, I_UID, I_Type, I_BD_ID
                                //展示已知数据
                                table.render({
                                    elem: '#bdT'
                                    , cols: [[ //标题栏
                                        { field: 'ID', title: '绑定ID', width: 80, sort: true }
                                        , { field: 'I_UID', title: '绑定用户码', width: 120 }
                                        , { field: 'I_Type', title: '类型', minWidth: 120 }
                                        , { field: 'I_BD_ID', title: '绑定码', minWidth: 200 }
                                        , { fixed: 'right', width: 180, align: 'center', toolbar: '#bar' }
                                    ]]
                                    , data: result,
                                    //,skin: 'line' //表格风格ID,I_UID,I_Type,I_BD_ID
                                    even: true,
                                    page: true //是否显示分页
                                    //,limits: [5, 7, 10]
                                    //,limit: 5 //每页默认显示的数量
                                });

                            });
                        },
                    });
                    console.log(e);

                }


                GetInfo(function (info) {

                if (info != null) {
                userInfo = info;
                if (userInfo.C_STA != "0") {
                    userInfo.C_STA = "on";
                }

                if (userInfo.S_Set == null) {
                    userInfo.S_Set = ["on", "on", "on"];
                } else {
                    userInfo.S_Set = JSON.parse(userInfo.S_Set);
                }
                console.log('离线仓库中emb_info↓');
                console.log(userInfo);
                    $("#user_name").text(userInfo.S_Name);
                } else {
                    //$("#user_name").text("请登录");
                }

                });


                 layui.use('form', function () {

             var form = layui.form;
             GetUser(function(user){  userInfo.I_UID = user.ID; })
                    //加载学校
                    try{ var _option = '<option value="{ID}">{S_Name}</option>'

                        GetSchool(function (data) {
                            for (var i in data) {
                                    $("#bundSchool").append(_option.format(data[i]));
                                    //console.log(data[i]);
                                }
                             form.render("select");
                        })


                    } catch (e) {
                         $.post(" @Url.Action("School","Public") ",
                            { uName: '' },
                            function (data, status) {
                                console.log("学校数据", data);
                                for (var i in data) {
                                    $("#bundSchool").append(_option.format(data[i]));
                                    //console.log(data[i]);
                                }
                                form.render("select");
                            });
                        console.log(e);
                    } finally {
                    }




              form.val("userInfoForm", userInfo);



               try {
                     for (var i in userInfo.S_Set ){
                         let set = userInfo.S_Set;
                         if (set[i] === "on") { $("input[name='S_Set" + i + "']").attr("checked", ""); }
                         else {
                            $("input[name='S_Set" + i + "']").removeAttr("checked");
                              }
                   }

               } catch (e) {
                   console.log(e);
               } finally {
                   form.render();
                }







                   //_GetData("emb_bund", function (data) {


                   //        var emb_bund = {
                   //            BundSchool:-1,
                   //            BundAcademy:-1,
                   //            BundGrad:-1,
                   //            BundClass:-1
                   //    }

                   //    for (var i in data) {
                   //        let bb = data[i]
                   //        switch (bb.I_Type) {
                   //            case 1:
                   //                emb_bund.BundSchool = bb.I_BD_ID;
                   //                break;
                   //             case 2:
                   //                emb_bund.BundAcademy = bb.I_BD_ID;
                   //                break;
                   //             case 3:
                   //                emb_bund.BundGrad = bb.I_BD_ID;
                   //                break;
                   //            case 4:
                   //                emb_bund.BundClass = bb.I_BD_ID;
                   //                break;
                   //            default:
                   //                 break;
                   //        }

                   //    }

               form.val("userBundForm", {} );


               form.on('select(BundSchool)', function(data){
                     console.log(data.value); //得到被选中的值

                    //加载学院
               try {

                           var _option = '<option value="{ID}">{S_Name}</option>'
                            $("#bundAcademy").html(_option.format({ID:-1,S_Name:"请选择学院"}));
                        $.post(" @Url.Action("Academy","Public") ", {uName:'',uId:data.value},
                            function (data, status) {
                                console.log("数据", data);
                                for (var i in data) {
                                    $("#bundAcademy").append(_option.format(data[i]));
                                }

                                  form.render("select");
                            });
                           //加载年级
                         $.post(" @Url.Action("Grad","Public") ",
                             {uName:'',uId:data.value},
                             function (data, status) { $("#bundGrad").html(_option.format({ID:-1,S_Name:"请选择年级"}));
                                console.log("数据", data);
                                for (var i in data) {
                                    $("#bundGrad").append(_option.format(data[i]));
                                }
                                  form.render("select");
                            });
               } catch (e) {
                        console.log(e);
               }finally {}
               });

               form.on('select(BundAcademy)', function (data) {
                //加载班级
                var _option = '<option value="{ID}">{S_Name}</option>'
                  $.post(" @Url.Action("ClassNum","Public") ", {uName:'',uId:data.value},
                      function (data, status) {
                         $("#bundClass").html(_option.format({ID:-1,S_Name:"请选择班级"}));
                        console.log("数据", data);
                        for (var i in data) {
                            $("#bundClass").append(_option.format(data[i]));
                        }
                          form.render("select");
                    });

            })


                //监听提交
               form.on('submit(userInfo)', function (data) {

                    try {
                        let info = data.field;

                        if (info.C_STA == "on") {
                            userInfo.C_STA = 1;
                        } else {
                            userInfo.C_STA = 0;
                        }
                        userInfo.Gender = info.Gender;
                        userInfo.S_Address = info.S_Address;
                        userInfo.S_Name = info.S_Name;
                        userInfo.S_Desc = info.S_Desc;
                        userInfo.S_Set[0] = info.S_Set0;
                        userInfo.S_Set[1] = info.S_Set1;
                        userInfo.S_Set[2] = info.S_Set2;
                        if (typeof (userInfo.S_Set) != "string") {
                            userInfo.S_Set = JSON.stringify(userInfo.S_Set);
                        }
                         SaveInfo(userInfo, function () {
                                    console.log("离线数据",userInfo);
                                });
                        //console.log(userInfo);
                         console.log("提交数据",userInfo);
                         $.post( " @Url.Action("Updata","UserInfoes") ", userInfo,
                            function (data, status) {
                                if (data) {
                                    layer.msg("保存好了哦！");
                                }
                                else {
                                    layer.msg("保存失败，稍后保存试试吧！");
                                } console.log("回传数据", data);
                          });

                    }
                    catch (err) {
                        layer.msg("保存失败了！",{ Icon:2 });
                        console.log(err);
                    }
                    finally {

                        //layer.msg(JSON.stringify(userInfo));

                        return false;
                    }


                });

                //监听提交
               form.on('submit(userSet)', function (data) {




                    let bunds = data.field;

                   bundList = [{

                        I_UID: userInfo.I_UID,
                        I_Type: 1,
                        I_BD_ID: bunds.BundSchool,
                    },
                        {
                        I_UID: userInfo.I_UID,
                        I_Type: 2,
                        I_BD_ID: bunds.BundAcademy,
                        },
                        {
                        I_UID: userInfo.I_UID,
                        I_Type: 3,
                        I_BD_ID: bunds.BundGrad,
                        },
                        {
                        I_UID: userInfo.I_UID,
                        I_Type: 4,
                        I_BD_ID: bunds.BundClass,
                    },
                    ]

                    _SaveData("emb_bund", bundList, function () { });


                    try {


                        $.post("@Url.Action("AddBund","UserBundTables") ", { bs:JSON.stringify(bundList)},
                            function (data, status) {

                                    layer.msg("保存好了哦！");
                                 console.log("回传数据", data);
                          });

                    } catch (e) {
                        console.log(e);
                    } finally {
                        console.log(bundList);
                        return false;
                    }


                    //layer.msg(JSON.stringify(data.field));





                });









                   });


            }
        });






















     });



</script>