
@{
    Layout = "~/Views/Shared/_NoneLay.cshtml";
    ViewBag.Title = "Register";
}


@section head{
    <style>
        @@media screen and (max-width: 330px) {
            .card {
                background: transparent;
                padding: 0.8em;
                margin: 1.4em auto;
                width: 18em;
            }

            #tranLog {
                position: relative;
                left: 16em;
                width: 32px;
                padding: 2px;
            }

            .input-group {
                margin: 0.8em auto;
                padding: 0.4em;
            }
        }

        @@media screen and (min-width: 331px) {
            .card {
                background: transparent;
                padding: 0.8em;
                margin: 2.6em auto;
                width: 22em;
            }

            #tranLog {
                position: relative;
                left: 20em;
                width: 32px;
                padding: 2px;
            }

            .input-group {
                margin: 1.6em auto;
                padding: 0.4em;
            }
        }

        .container-fluid {
            position: fixed;
            top: 0;
        }

        .card-body {
            background: white;
        }

        .card-footer,
        .card-header {
            background: transparent;
            text-align: center;
        }

        #loginbtg {
            display: none;
        }
    </style>
}


<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-0 col-md-2 ">

        </div>
        <div class="col-sm-12 col-md-8  ">

            <div class="card rounded-0">
                <button id="tranLog" class="btn btn-sm btn-outline-light">
                    <img src="../Content/images/transfer.png" width="24px" height="24px" data-toggle="tooltip"
                         data-placement="top" title="O_O 要登录,还要注册？随您意!" />
                </button>

                <img data-toggle="tooltip" data-placement="right" title="( ఠൠఠ )哼哼 " src="../Content/images/user.png"
                     alt="John Doe" class="mx-auto" style="width:4em;">
                <!-- align-self-center mx-auto -->

                <div class="card-header">
                    <h5 id="titleTxt"> EMB-账户注册</h5>
                </div>

                <div class="card-body ">


                    <!-- <form> -->


                    <div class="input-group mb-3 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text rounded-0" data-toggle="tooltip" data-placement="left"
                                  title="量力而行 😎选择账户的角色!">
                                <img src="../Content/images/role.png" width="24px" height="24px" />
                            </span>
                        </div>
                        <select id="role" class="form-control rounded-0">
                            <option value="0">学生</option>
                            <option value="1">教师</option>
                            <option value="2">管理员</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" data-toggle="tooltip" data-placement="left"
                                  title=" ^_^ 您的邮箱!">
                                <img id="emailico" src="../Content/images/email.png" width="24px" height="24px" />
                            </span>
                        </div>
                        <input id="email" type="email" class="form-control rounded-0" placeholder="告诉我您邮箱账户哦🤣^_^">

                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" data-toggle="tooltip" data-placement="left"
                                  title="😑您的密码!">
                                <img id="pwico" src="../Content/images/lock.png" width="24px" height="24px" />
                            </span>
                        </div>
                        <input id="password" type="password" class="form-control rounded-0"
                               placeholder="偷偷告诉我您的秘码😳^_^">

                    </div>

                    <div id="regesterbtg" class="input-group mb-3 ">

                        <button id="regester" class="btn btn-outline-light mx-auto btn-block">
                            <img data-toggle="tooltip" data-placement="bottom" title="加入我们!"
                                 src="../Content/images/register.png" width="32px" height="32px" />注册
                        </button>
                    </div>

                    <div id="loginbtg" class="input-group mb-3 ">
                        <button id="login" class="btn btn-outline-light mx-auto btn-block">
                            <img data-toggle="tooltip" data-placement="bottom" title="进坑—谢谢!"
                                 src="../Content/images/login.png" width="32px" height="32px" />登录
                        </button>
                    </div>
                    <!-- </form> -->

                </div>

                <div class="card-footer" style=" background: white;">
                    <p>
                        <small>EMB课堂教学评价管理平台</small>
                        <a id="changePw" href="#" data-toggle="tooltip" data-placement="bottom" title="(ง •_•)ง忘记密码点我哦!">
                            <img src="../Content/images/findpw.png" width="28px" height="28px" />
                        </a>
                    </p>


                </div>
            </div>




        </div>

        <div class="col-sm-0 col-md-2 ">
        </div>


        <!-- ---------------- -->
    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {
            localforage.clear();
            $('[data-toggle="tooltip"]').tooltip();

            layer.tips('登录注册切换按钮', '#tranLog');

            // console.log(getCookie("emb_log"));
            if (getCookie("emb_log") === "login") {
                setCookie("emb_log", "log", 1);
                transfer();
            }
            var page = 0;
            var isMail = false;
            var LoginBt = $("#login");
            var RegesterBt = $("#regester");
            var emialTxt = $("#email");
            var pwTxt = $("#password");
            var roleVal = $("#role");
            var emilIco = $("#emailico");
            var pwIco = $("#pwico");

            var user = {
                ID: -1,
                MAIL: '',
                C_ROLE: 0,
                PW: '',
                C_STA:0
            };

            function changeIco(e, img) {
                e.attr("src", "../content/images/" + img + ".png");
            }

            function transfer() {
                emialTxt.val("");
                pwTxt.val("");
                roleVal.val(0);
                changeIco(emilIco, "email");
                var logbtg = $("#loginbtg");
                var regesbtg = $("#regesterbtg");
                var titleTxt = $("#titleTxt");
                if (logbtg.css("display") === "none") {
                    regesbtg.animate({
                        // opacity: 'toggle',
                    });
                    page = 1;
                     layer.tips('点击我可以切换到注册页面', '#tranLog');
                    titleTxt.text("EMB-用户登录");
                    regesbtg.hide();
                    // regesbtg.css("display","none");
                    logbtg.show();
                } else {
                    logbtg.animate({
                        // opacity: 'toggle',
                    });
                    page = 0;
                     layer.tips('点击我可以切换到登录页面', '#tranLog');
                    titleTxt.text("EMB-用户注册");
                    logbtg.hide();
                    // logbtg.css("display","none");
                    regesbtg.show();
                }
            }


            $("#tranLog").click(function () {
                transfer();
                 console.log(" transfePage:"+page);
            });



            //                 changeIco(emilIco,"Lock-Mail");
            //                 changeIco(pwIco,"Lock-Screen")
            //


            roleVal.bind("input propertychange", function (event) {
                user.C_ROLE = roleVal.val();
                console.log("角色设定:" + user.C_ROLE);
            });




            // $("#loginbtg").hide();
            var autoData = [];
            emialTxt.bind("input propertychange", function (event) {
                if (emialTxt.val().toString().indexOf("@@") < 0) {
                    autoData.push(emialTxt.val() + "@@qq.com");
                    autoData.push(emialTxt.val() + "@@163.com");
                    autoData.push(emialTxt.val() + "@@126.com");
                    autoData.push(emialTxt.val() + "@@gmail.com");
                    autoData.push(emialTxt.val() + "@@outlook.com");
                }
                if (emialTxt.val().trim().length < 1) {
                    changeIco(emilIco, "email");
                }


            });
            emialTxt.change(function () {
                user.MAIL = emialTxt.val();
                console.log("用户邮箱设定:" + user.MAIL);
                $.post("@Url.Action("IsMail","Users")", { MAIL: user.MAIL },
                    function (data, status) {
                        if (status == "success") {

                            isMail = data;
                            if (isMail) {

                                if (page == 0) {
                                    changeIco(emilIco, "erro");
                                      console.log(" 0Page:"+page);
                                      layer.msg("邮箱已注册");
                                } else {
                                    changeIco(emilIco, "true");
                                    layer.msg("账户验证成功");
                                    console.log(" 1Page:" + page);

                                    $.get("@Url.Action("InfoByMail","Users")" + "?mail=" + user.MAIL, function (info, status) {

                                        localforage.setItem('emb_info', info).then(function (value) {
                                            console.log(value);
                                              layer.msg("数据加载中");
                                     });

                                    });


                                }

                            }
                            else {
                                if (page == 0) {
                                    changeIco(emilIco, "true");
                                     layer.msg("邮箱可注册");
                                     console.log(" 2Page:"+page);
                                } else {
                                    changeIco(emilIco, "erro");
                                    layer.msg("账户邮箱还未注册！");
                                    layer.tips('点击到注册页面', '#tranLog');
                                  console.log(" 3Page:"+page);
                                }

                            }
                        }
                        else {
                            changeIco(emilIco, "email");
                        }

                        console.log(data);

                    });
            });

            pwTxt.bind("input propertychange", function () {
                user.PW = pwTxt.val();
                console.log("用户密码设定:" + user.PW);

            });

            emialTxt.autocomplete({
                source: autoData,
                change: function (event, ui) {
                    autoData = [];
                },
                select: function (event, ui) {
                    autoData = [];
                }


            });






            RegesterBt.click(function () {
                user.MAIL = emialTxt.val();
                user.C_ROLE = roleVal.val();
                user.PW = pwTxt.val();


                try {


                    $.post( "@Url.Action("Register","Users")", user,
                        function (data, status) {
                            if (data) {
                                console.log("ok");
                                pushCookie(user);
                                layer.open({ title: "注册成功！", content: "<h4>激活邮箱去吧! </h4><small><hr/> 提醒： 有时候邮箱飞的有些慢，耐心等等看 ！<br/>当然也可能是 激活邮件在你的广告邮箱里面，找找看哦！... </small>" });
                                // window.location.href="index.html";
                            }
                            else {
                                layer.open({ title: "注册失败！", content: "<h4>您的邮箱注册过了! </h4><small><hr/> 提醒： 有时候邮箱注册您忘了，仔细想想？<br/>当然您也可以点击下面的🔑图标找回密码哦！... </small>" });
                            }
                            // alert("数据: \n" + data + "\n状态: " + status);
                            console.log(data);
                        });

                } catch (erro) {
                    console.log(erro);
                }



            });



            LoginBt.click(function () {
                console.log("开始登陆");
                user.MAIL = emialTxt.val();
                user.C_ROLE = roleVal.val();
                user.PW = pwTxt.val();
                try {
                    $.post("@Url.Action("Login","Users")", user,
                        function (data, status) {
                            if (status === "success") {
                                if (data.ID > 0) {
                                    console.log("ok");
                                    layer.msg("进入浪漫土耳其...", { icon: 1 });

                                    localforage.setItem('emb_user', data).then(function (value) {

                                    window.location.href = "@Url.Action("Index","Home")";  pushCookie(data); });

                                } else if (data.ID == -1) {
                                    layer.msg("会不会是密码错了❓", { icon: 2 });
                                } else {
                                     layer.msg("是不是那里不对❓❓", { icon: 2 });
                                }

                            }
                            console.log(data);
                        });
                } catch (erro) {
                    console.log(erro);
                }



            });






            // console.log(BCode.encode(JSON.stringify(user)));

            //                 ChckUserForCookie();


            // -----------------!

        });

    </script>

}